<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css'%} ">
</head>
<body>
    <header>
        Mindennapos testnevelésre való jelentkezés űrlapja.
    </header>

    <main>
        <form>
            <div class="grid-container">
                <label for="fnev" class="grid-label">felhasználónév:</label>
                <input type="text" name="" id="fnev">
                <label for="jelszo" class="grid-label">jelszó:</label>
                <input type="password" name="" id="jelszo">
                <label for="valasztas" class="grid-label">választott foglalkozás:</label>
                <select name="" id="valasztas">
                    <option value="">Kosárlabda</option>
                    <option value="">Gyeplabda</option>
                    <option value="">Curling</option>
                </select>
                <button>Küldés</button>
            </div>
        </form>
    </main>

    <footer>
        ha bármi gond adódik: <a href="mailto:molnar.attila@szlgbp.hu">molnar.attila@szlgbp.hu</a>
    </footer>
</body>
</html>