body{
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: rgb(80, 214, 158);
    padding: 25px 0px;
    font-size: 3em;
}



header, footer{
    text-align: center;
}

.uzenetek{
    display: grid;
    grid-template-columns: 30%;
    grid-auto-rows: 30px;

    justify-content: center;
    justify-items: center;

    align-items: center;

    gap:10px;

    padding: 30px 0px;
}

.uzenet{
    font-weight: bold;
}

body{
    background-color:rgb(201, 169, 169);
}


.grid-container{

    padding:3em 0;
    display:grid;
    justify-content: center;

    grid-template-columns: 10em 8em;
    grid-template-rows: auto;
    
    gap:5px;
}

.grid-container button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-label{
    justify-self: end;
}



/* Kéne egy szép design */