header{
    background-color: red;
}



header, footer{
    text-align: center;
}

main{
    display:grid;
    justify-content: center;

    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(4, 50px);
}